pipeline/AzureSQL_To_ADLS_MetadataDriven_Ingestion.json
{
	"name": "AzureSQL_To_ADLS_MetadataDriven_Ingestion",
	"properties": {
		"description": "Metadata-driven ingestion from Azure SQL Database to ADLS Gen2 using dynamic source queries and target folders.",
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT source_table, source_query, target_path, target_file_name, file_format\nFROM ingestion_control\nWHERE is_active = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false,
					"query": "SELECT source_table, source_query, target_path FROM ingestion_control WHERE is_active = 1"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Metadata",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach_Ingestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_SQL_To_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().source_query.output.value",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [
			"Generated by Gen AI"
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}